{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    {% block content %}
    <h1>Stiamo lavorando per voi</h1>
    <div class="row">
      <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">VILLA M&D</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="#" class="card-link">Another link</a></li>
            <li class="list-group-item"><a href="#" class="card-link">Another link</a></li>
            <li class="list-group-item"><a href="#" class="card-link">Card link</a></li>
          </ul>
          <div class="card-body">
            <h3><strong><a href="#" class="card-link">Another link</a></strong></h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}
</body>
</html>